rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.email == 'internationcoo@gmail.com';
    }

    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      allow read, write: if isAdmin();
    }

    match /users/{uid}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      allow read, write: if isAdmin();
    }

    match /promoCodes/{code} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
